<ion-view title="Swissunihockey Spielpläne als PDF">
    <ion-content>
        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    Klub
                </div>
                <select>
                    <option ng-repeat="clubEntry in clubEntries" value="{{clubEntry.set_in_context.club_id}}"
                            ng-model="selectedClubId">{{clubEntry.text}}
                    </option>
                </select>
            </label>

            <label class="item item-input item-select" ng-show="selectedClubId">
                <div class="input-label">
                    Team
                </div>
                <select>
                    <option ng-repeat="teamEntry in teamEntries">{{teamEntry.text}}</option>
                </select>
            </label>

        </div>
    </ion-content>
</ion-view>

