<ion-view title="Swissunihockey Spielpläne als PDF">
    <ion-content>
        <div class="list">
            <label class="card">
                <div class="item item-text-wrap">
                    <i class="icon ion-information-circled"></i>
                    iPhone Nutzer müssen Pop-Ups aktivieren, damit das erstellte PDF angezeigt wird.
                </div>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Vereinsauswahl</div>
                <select ng-model="selectedClub.id">
                    <option ng-repeat="clubEntry in clubEntries" value="{{clubEntry.set_in_context.club_id}}">{{clubEntry.text}}</option>
                </select>
            </label>

            <label class="item item-input item-select" ng-show="selectedClub.id">
                <div class="input-label">Teamauswahl</div>
                <select ng-model="selectedTeam.id">
                    <option ng-repeat="teamEntry in teamEntries" value="{{teamEntry.set_in_context.team_id}}">{{teamEntry.text}}</option>
                </select>
            </label>
        </div>

        <button class="button button-full button-positive button-dark" ng-show="selectedTeam.id !== ''" ng-click="generatePDF()">
            PDF erstellen
        </button>
    </ion-content>
</ion-view>

